SALT=
PORT=3031
HOST=https://dev.acode.app
NODE_ENV=development
ADMIN_NAME=John Doe
ADMIN_EMAIL=john@example.com
ADMIN_PASSWORD=
ADMIN_GITHUB=john-doe
ADMIN_WEBSITE="https://example.com"

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USERNAME=email-user
EMAIL_PASSWORD=

PG_KEY_ID=
PG_KEY_SECRET=
PG_WEBHOOK_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://dev.acode.app/oauth/github/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://dev.acode.app/oauth/google/callback

EXCHANGERATE_API=

