SALT=
PORT=3031
HOST=https://dev.acode.app
NODE_ENV=development
EARNINGS_PERCENTAGE=0.7
PERCENTAGE_CUT=0.15
MIN_WITHDRAWAL_CRYPTO=4000
MIN_WITHDRAWAL_SWIFT=5000
ADMIN_NAME=Ajit Kumar
ADMIN_EMAIL=me@ajitkumar.dev
ADMIN_PASSWORD=
ADMIN_GITHUB=deadlyjack
ADMIN_WEBSITE="https://ajitkumar.dev"

EMAIL_HOST=smtp.zeptomail.in
EMAIL_PORT=587
EMAIL_USERNAME=emailapikey
EMAIL_PASSWORD=

PG_KEY_ID=
PG_KEY_SECRET=
PG_WEBHOOK_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://dev.acode.app/oauth/github/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://dev.acode.app/oauth/google/callback

EXCHANGERATE_API=

